---
export interface Props {
  orbs: number;
  depth: number;
  layer?: number;
}

var { orbs, depth, layer=1, state={total:0} } = Astro.props;

function className(index: number) {
  return "layer-" + index;
}

function idName() {
  return "orb-" + state.total
}

function increment() {
  state.total = state.total + 1;
}
---

{
  [...Array(orbs).keys()].map((index) => (
    <div class={className(layer)} id={idName()}>
      {increment()}
      {depth > 0 && (
        <Astro.self orbs={orbs} layer={layer + 1} depth={depth - 1} state={state} />
      )}
    </div>
  ))
}
